<div class="postComicStripForm">

  <div>
    <label for="transcript">Transcipt</label>
    <!-- using Angular Directive for textarea
    https://docs.angularjs.org/api/ng/directive/textarea -->
    <textarea name="transcript" rows="8" cols="40" ng-model="comicToEdit.Transcript"></textarea>
  </div>

  <div>
    <label for="printDate">Original Print Date</label>
    <input type="date" name="printDate" ng-model="comicToEdit.OriginalPrintDate">
  </div>

  <div>
    <label for="image">Upload the Comic</label>
    <input type="file" name="image" on-file-change="loadFile"/>
  </div>

  <div>
    <img src={{comicToEdit.Image}} id="imagePreview" alt="image preview">
  </div>

  <div>
    <button type="button" name="submitComic" ng-click="putComic()">Submit</button>
  </div>
</div>
