<div class="postComicStripForm">
  <input type="hidden" name="comicStripId" value="comicStrip.comicStripId">
  <div>
    <label for="name">Comic Strip Name</label>
    <input type="text" name="name" ng-model="comicStrip.name">
  </div>

  <div>
    <label for="printDate">Original Print Date</label>
    <input type="date" name="printDate" ng-model="comicStrip.originalPrintDate">
  </div>

  <div>
    <label for="transcript">Transcipt</label>
    <!-- using Angular Directive for textarea
    https://docs.angularjs.org/api/ng/directive/textarea -->
    <textarea name="transcript" rows="8" cols="40" ng-model="comicStrip.transcript"></textarea>
  </div>

  <div>
    <label for="image">Upload the Comic</label>
    <input type="file" name="image" on-file-change="loadFile"/>
  </div>

  <div>
    <img src="" id="imagePreview" alt="image preview">
  </div>

  <div>
    <button type="button" name="submitComic" ng-click="postComic()">Submit</button>
  </div>
</div>
