<div class="userWelcome">
  <h3>Hi {{user.firstName}}!</h3>
</div>

<div class="searchField">
  <label for="searchString">Enter Search Terms Here</label>
  <input type="text" name="searchString" ng-model="searchString">
  <button type="button" name="searchStringButton" ng-click="searchComic()">Search</button>
</div>

<div>
  <img class="comicStripImage" src={{comic.Image}} alt="comic image" />
  <p>
    {{comic.Transcript}}
  </p>
  <p>
    {{comic.OriginalPrintDate | date}}
  </p>

  <tags-input ng-model="comic.emotionTags" ng-keydown="tagEmotion($event)"></tags-input>

  <button type="button" name="editComic" ng-click="editComic()">Edit This Comic</button>

  <button type="button" name="nextComic" ng-click="getNextComic()">Get Next Comic</button>
  <button type="button" name="previousComic" ng-click="getPreviousComic()">Get Previous Comic</button>

  <label for="Comments">Comments</label>
  <div ng-repeat="comment in comic.Comments">
    <p>
      {{comment.Reader.Username}}
      {{comment.Comment}}
    </p>
  </div>
  <input type="textarea" name="newComment" placeholder="Add a Comment" ng-model="comic.newComment"/>
  <button type="button" name="postComment" ng-click="postComment()">Add Comment</button>
</div>
